__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__

._*
*/._*
*/*/._*
*/*/*/._*
*/*/*/*/._*

.pytest_cache

.virtual_documents

docs/_static/notebooks/data
docs/_static/notebooks/.ipynb_checkpoints
